//Index.hmtl

@media (max-width: 767px)and (min-width:481px){
   *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
   }
   body{
      background-color: $color5;
      color: $color3;
      font-family: miFuente;
      header{
         padding: 1em;
         text-decoration: underline dotted $color3;
         text-align: center;
      }
      main{
         div{
            div{
               display: flex;
               justify-content: center;
               .mapa{
                  @include imagen(600px, 400px);
               }
            }
            div{
               p{
                  padding: 1em;
                  font-size: 1.2em;
               }
            }
         }
      }
      footer{
         text-align: center;
         font-size: 1.5em;
      }
   }

//Galeria.hmtl

   body{
      main{
         div{
            div{
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
               img{
                  @include imagen(400px, 250px);
               }
            }
         }
         div{
            div{
               .video{
                  @include imagen(450px, 300px);
               }
            }
         }
      }
   }

//Informacion.hmtl

   body{
      main{
         div{
            div{
               p{
                  font-size: 1.2em;
                  font-weight: 800;
               }
            }
         }
      }
   }

//Similares.hmtl

   body{
      main{
         div{
            div{
               .img-s{
                  @include imagen(400px, 250px)
               }
               a{
                  margin-bottom: 1em;
                  color: $color3;
                  font-weight: 600;
                  font-size: 1.2em;
                  text-decoration: underline;
               }
            }
         }
      }
   }
}